<footer class="container-fluid bg-black">
    <div class="row">
        <div class="col-md-12 col-lg-4">
            <div class="columna">
                <h4 id="nombre-pagina"><a [routerLink]="['/pagea']">MI PAGINA</a></h4>
                <ul class="list-inline red-social-group">
                    <li class="list-inline-item red-social-item"><a href=""><i class="bi bi-facebook"></i></a></li>
                    <li class="list-inline-item red-social-item"><a href=""><i class="bi bi-instagram"></i></a></li>
                    <li class="list-inline-item red-social-item"><a href=""><i class="bi bi-twitter"></i></a></li>
                    <li class="list-inline-item red-social-item"><a href=""><i class="bi bi-youtube"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled columna">
                <li class="list-item"><a href="">Privacidad</a></li>
                <li class="list-item"><a href="">Contactános</a></li>
                <li class="list-item"><a href="">Avisos legales</a></li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled columna">
                <li class="list-item"><a href="">Centro de ayuda</a></li>
                <li class="list-item"><a href="">Términos de uso</a></li>
                <li class="list-item"><a href="">Información corporativa</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <p class="mt-5">&copy;2022 - Todos los derechos reservados.</p>
    </div>
</footer>