footer {
    padding: 4rem;
}

footer a {
    text-decoration: none;
    color: #888;
}

.columna {
    margin-left: 4rem;
}

.red-social-group {
    margin-top: 2rem;
}

.red-social-item {
    font-size: 1.8rem;
    margin-right: 1rem !important;
}

.list-item {
    line-height: 2;
}

footer a:hover {
    color: #fff;
}

footer p {
    color: #888;
    text-align: center;
}

hr {
    border-top: 1px solid #888;
    margin: 4rem 4rem 2rem;
}